@model IEnumerable<IntegraMuni2023._01.Models.Servicio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Servicios Disponibles</h1>
@* @if (User.IsInRole("Administrador"))
{
    <p>
        <a asp-action="Create">Crear</a>
    </p>
} *@
@if (Model.Any())
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoTarifa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarifa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoTarifa)
            </td>
           @*  @if (User.IsInRole("Administrador"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ServicioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ServicioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ServicioId">Delete</a>
                </td> 
            } *@
        </tr>
}
    </tbody>
</table>
}
else
{
    <p>No existe ningún servicio en el sistema.</p>
}